body{
    background: #cfcfcf;
    color: #20201f;
}

.nav_menu {
    background: #cfcfcf;
}

nav{
    padding: 15px;
}

nav img{
    width: 10%;
}

.box-perfil{
    text-align: center;
}

.foto-perfil{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-align: right;
}

.box-perfil .nome-perfil{
    font-size: 15px;
    margin-top: 10px;
}

